<div id="wrapper">

  <div id="einleitung">
    <h1>Feloferie</h1>
    <div id="leben">Die einfachere Art zu leben.</div> <br>
    WorldOfRecipes präsentieren euch als erster die geheimgehaltene Art das Leben zu einem besseren zu machen. <br>
    Selbst die hellsten und mächtigsten Köpfe dieses Zeitalters benutzten diese Methode, um sich aus der Maße abzuheben. <p></p>
    <div id="peinigen">Eine Art um sie alle zu peinigen!</div>
  </div>

  <div id="feloferan">
    <h1>Lifestyle Feloferan</h1>
    Die Gesellschaft der Feloferie besteht aus einem Netz von Feloferanen aus aller Welt die ihr Geheimnis von der Außenwelt verborgen halten.<br>
    Werde zu einem Feloferan und erfahre die Auswirkung auf dein Bewustsein sowie auf deine Gesundheit. Trete in eine Gesellschaft aus mächtigen Feloferanen der Feloferie und ziehe dir Vorteile aus Kontakten.

    <div id="stars">
      <div id="stars-left-img">
        <img src="/assets/zuckerberg.png" alt="Zuckerberg" height="200" width="195"/>
      </div>
      <div id="stars-left-desc">
        Mark Elliot Zuckerberg <br>
        Vermögen ca. 71 Milliarden US-Dollar <br>
        Feloferan seit 2009 <br>
      </div>

      <div id="stars-right-img">
          <img src="/assets/stevejobs.png" alt="Steve Jobs" height="200" width="195"/>
      </div>
      <div id="stars-right-desc">
        Steven „Steve“ Paul Jobs <br>
        Vermögen ca. 8,3 Milliarden US-Dollar <br>
        Feloferan seit 2001 <br>
      </div>

      <div id="stars-left-img">
          <img src="/assets/billgates.png" alt="Bill Gates" height="200" width="195"/>
      </div>
      <div id="stars-left-desc">
        William „Bill“ Henry Gates III <br>
        Vermögen ca. 90 Milliarden US-Dollar <br>
        Feloferan seit 2003 <br>
      </div>

      <div id="stars-right-img">
        <img src="/assets/larrypage.png" alt="Larry Page" height="200" width="195"/>
      </div>
      <div id="stars-right-desc">
        Lawrence „Larry“ Edward Page <br>
        Vermögen ca. 40,4 Milliarden US-Dollar <br>
        Feloferan seit 2005 <br>
      </div>
    </div>
  </div>
</div>