<div id="wrapper">
    <div id="text">
        Diese Webseite beinhaltet unser Projekt am ITC-Dortmund (itc-dortmund.de). <p>
        Im Fach Internet Business war es unsere Aufgabe sich ein Konzept auszudenken und eine Webseite dafür zu programmieren.<p></p>
        Des Weiteren haben wir eine Werbe Kampagne gestartet über die Sie vermutlich auf diese Seite gekommen sind.<p></p>
        Wir bedanken uns für das Klicken auf unsere Werbung und unterstützen unseres Projekt.<p></p>
        GZ  Ahmet & Jan<p></p>
    </div>
</div>
